html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif, system-ui;
  color: #1f2937;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

/* Gives all direct children horizontal padding */
body > * {
  padding: 0px 10%;
}

/* Remove default margins */
h1,
p {
  margin: 0px;
}

/* Remove link formatting */
a {
  text-decoration: none;
  color: inherit;
}

.header,
.hero,
.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header,
.hero {
  justify-content: space-between;
}

.header h1,
.hero-text h1 {
  font: 900 48px "Roboto";
  color: #f9faf8;
}

.header h1 {
  font: 700 24px "Roboto";
}

.header ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.hero {
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 24px;
  align-items: flex-start;
}

.hero img {
  max-height: 250px;
}

button {
  font-size: 18px;
  font-weight: 700;
  padding: 8px 24px;
  margin: 16px 0;
  border-radius: 8px;
  border: none;
}

.action-call,
button {
  background-color: #3882f6;
  color: #e5e7eb;
}

.info {
  padding-top: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  padding-bottom: 100px;
}

.info h1 {
  font: 900 36px "Roboto";
  color: #1f2937;
}

.info-boxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 48px;
}

.box {
  width: 175px;
  text-align: center;
}

.box img {
  max-width: 175px;
  border: 4px solid #3882f6;
  border-radius: 16px;
}

.quote-block {
  background-color: #e5e7eb;
}

.big-quote {
  font: italic 300 36px "Roboto";
  color: #1f2937;
}

.footer {
  justify-content: center;
}
